.fondoAzul {
    background :lightblue !important;
}

.fondoVerde {
    background :lightgreen !important;
}

.letraGrande {
    font-size: 40px;
}

.activo{
    font-weight: bold;
    background-color: lightgreen;
}

.labelRed{
    font-weight: bold;
    color: red;
}